.today {
	display: grid;
	gap: 2.75rem;
	align-content: start;

	& p {
		font-size: var(--font-size-1);
		font-weight: 500;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		& var {
			font-weight: 600;
		}
	}
}

.temperature {
	font-family: var(--font-geist-mono);
	font-size: var(--font-size-8);
	font-weight: 300;
	line-height: 1;
	/* text-align: center; */

	& span {
		font-family: var(--font-geist-sans);
		opacity: 0.5;
	}
}

.forecast {
	& h2 {
		font-size: var(--font-size-1);
		font-weight: 500;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	& table {
		inline-size: 100%;
	}

	& th {
		padding: 0.5rem;
		font-size: var(--font-size-1);
		font-weight: 500;
		line-height: 2;
		text-align: right;
	}

	& tbody th {
		text-align: left;
	}

	& td {
		padding: 0.5rem;
		font-family: var(--font-geist-mono);
		font-size: var(--font-size-0);
		line-height: 2;
		text-align: right;
	}
}
