:root {
	--grey-100: #f1f2f2;
	--grey-200: #e7ebed;
	--grey-300: #dee4e8;
	--grey-400: #c0c8cd;
	--grey-500: #949ca1;
	--grey-600: #62696d;
	--grey-700: #393e41;
	--grey-800: #202326;
	--grey-900: #16191b;

	--font-size-00: 0.5rem;
	--font-size-0: 0.75rem;
	--font-size-1: 0.875rem;
	--font-size-2: 1rem;
	--font-size-3: 1.25rem;
	--font-size-4: 1.5rem;
	--font-size-5: 2rem;
	--font-size-6: 2.5rem;
	--font-size-7: 3rem;
	--font-size-8: 3.5rem;

	--background: var(--grey-100);
	--foreground: var(--grey-900);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--grey-900);
		--foreground: var(--grey-200);
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

var {
	font-style: normal;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
